
#H{
    background-color:black;
    width: 80%;
    height:2550px;
    margin: auto;
    margin-top: 70px;

    color: white;
}
#h1{
    float: left;
    width: 40%;
    margin-left: 20px;
    text-shadow: 3px 3px 20px wheat;
    
}
#h2{float: right;
    width: 50%;
    text-align: right;
    margin-right: 20px;
    text-shadow: 3px 3px 20px wheat;
}
a{
    text-decoration: none;
    color: black;
    
}
#h3{
    width:100%;
    text-align: left;
    float: left;
    margin-left: 20px;
    
    word-spacing: 20px;
}
img{
    border-radius: 40px;
    box-shadow: 0 0 30px wheat;
    
}
#h4{
    float: left;
}
table{
    width: 100%;
    padding: 10px;
}
td{
    padding: 10px;
}
#h5{
    width: 50%;
    float: left;
    
}
#h6{
    width: 45%;
    float: right;
}
hr.round{
    border-top: 15px solid wheat;
    margin-top: 25em;
    margin-bottom: 2em;
  border-radius: 20px;
  width: 95%;
  box-shadow: 0 0 5px wheat;
  
  
}
#h7{
    text-align: center;
}
.fa{
    padding: 15px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 100%; 
  box-shadow: 0 0 10px wheat;
  margin: 10px;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #55ACEE;
    color: white;
}
  
.fa-twitter {
    background: cyan;
    color: white;
}
.fa-youtube {
    background:red;
    color: white;
}
      
.fa-instagram {
    background:purple;
    color: white;
}
.fa-linkedin {
    background:darkblue;
    color: white;
}
#S1{
   

   color: white;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    background: wheat;
    line-height: 40px;
    width: 450px;
    margin: 20px auto;
    border-radius: 100%;
}
.container {
    position: relative;
   
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;